<!--navigation-menu in home page -->

<div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed white pm-navigation ">
  <div class="pure-g">
    <div class="pure-g-container less-margin">
      <a class="pure-menu-heading pm-no-padding" href="./index.html"><img src="/assets/images/icons/FPO-logo.svg" class="pure-img" alt=""></a>

      <ul class="pure-menu-list pm-li-styles">
        <li class="pure-menu-item"><a href="#qoute" class="pure-menu-link">Get Qoute</a></li>
        <li class="pure-menu-item"><a href="#facts" class="pure-menu-link">The facts</a></li>
        <li class="pure-menu-item"><a href="#benefits" class="pure-menu-link">Benefits</a></li>
        <li class="pure-menu-item"><a href="#service" class="pure-menu-link">Our Service</a></li>
      </ul>
      <!---header-desktop-contact-details-->
      <div class="pm-contact-no">
        <span class="contact-info-text">Call our UK team now on:</span> <span class="contact-no-uk">0800 008 6189</span>
        <div class="schedule-dls">Mon - Thu 8am - 7.30pm and Fri 8am - 4pm </div>
      </div>
      <!-- header-mobile-contact-details -->
      <div class="call-now">
        <div class="contact-info-text"><a><img src="assets/images/icons/icon-phone.svg" class="pure-img" alt=""><span>Call Now</span></a></div> 
      </div><!-- header-mobile-contact-ends -->
    </div>
  </div>
</div>