 <div class="home-menu pure-menu pure-menu-horizontal white pm-navigation border-yellow">
            <div class="pure-g">
                <div class="pure-g-container less-margin">
                    <a class="pure-menu-heading pm-no-padding" href="../index.html"><img src="../assets/images/icons/FPO-logo.svg" class="pure-img" alt=""></a>

                   
                    <!---header-desktop-contact-details-->
                    <div class="pm-contact-no">
                        <span class="contact-info-text">Call our UK team now on:</span> <span class="contact-no-uk">0800 008 6189</span>
                        <div class="schedule-dls">Mon - Thu 8am - 7.30pm and Fri 8am - 4pm </div>
                    </div>
                    <!---header-mobile-contact-details--->
                    <div class="call-now">
                        <div class="contact-info-text"><a><img src="../assets/images/icons/icon-phone.svg" class="pure-img" alt=""><span>Call Now</span></a></div> 
                    </div><!---header-mobile-contact-ends--->
                </div>
            </div>
        </div>