<!--footer in sub pages-->

  <div class="pure-g footer">
            <div class="pure-g-container">
                <div class="footer-logo">
                    <a href="../index.html">  <img src="/assets/images/icons/FPO-logo.svg" class="pure-img" alt=""></a>
                </div>
                <div class="pure-u-lg-8-24 pure-u-md-11-24 pure-u-sm-1 footer-left">

                    <p class="editable">
                        Funeral Plan Options is a trading name of Lead Technologies (Europe) Ltd a company incorporated in England and Wales (6574342). VAT No. 9400 115 60.</br>
                        Pool Business Park, Pool Road, Pool in Wharfedale,
                        West Yorkshire, LS21 1FD.<br>
                        Copyright&COPY;2017 Funeral Plan Options. All rights reserved.
                    </p>
                </div>
                <div class="pure-u-lg-6-24 pure-u-md-11-24 pure-u-sm-1 footer-middle">

                    <p class="editable">
                        Telephone: <a>0800 008 6189</a><br>
                        Mon - Thu 8am - 7.30pm and Fri 9am - 4pm<br>
                        Email: <a href="mailto:enquiries@funeralplanoptions.co.uk">enquiries@funeralplanoptions.co.uk</a><br>
                        <a href="../terms ">Terms & Conditions</a><br>
                         <a href="../about"> About Us</a><br>
                    </p>
                </div>
                <div class="pure-u-lg-9-24 pure-u-md-1 pure-u-sm-1 footer-right">

                    <p class="editable">
                        We take your security very seriously.<br>
                        <img src="/assets/images/icons/icon-lock.svg" class="pure-img" alt="">
						<a href="#modal">Privacy Policy</a><br>
                        Funeral Plan Options is a partner of Safe Hands Funeral Plans, one of the UK's premier funeral planning companies. They work with a national network of over 1600+ will writers, solicitors, financial advisors, and other intermediaries, who offer our products as part of their estate planning services.<br>

                        With a large portion of our business being conducted via this network of professional consultants, our plans are sold in a much more sensitive and personal manner than they would be were we to rely on the more aggressive and impersonal call-centre approach that some other providers favour. <br>

                        It is our ongoing aim to provide all of our customers with a better experience of arranging their funeral plan.
                    </p>
                </div>
            </div>
        </div><!---footer-ends--->
        <!---mobile---get-a-qoute-btn--->
        <div class="pure-g foo-btn hidden-lg">
            <button type="submit" class="pure-button pure-button-primary footer-btn">Get a quick quote!</button>
        </div><!--ends-->
		
         <!--privacy-policy-pop-up-->
        
           <div class="remodal popup" data-remodal-id="modal" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">
                <!--Pop up heading and close button-->
                <h2 class="editable">privacy and cookie policy.</h2>
                <a class="close" href="#">Close Window <span>&times;</span></a>
                <!--/Pop up heading and close button-->

                <!--Pop up content-->
                <div class="content">
                    <p class="editable">At Funeral Plan Options, we’re committed to protecting your privacy. This Policy explains how we use the information we collect about you, how you can let us know if you’d prefer to limit the use of that information, and procedures we have in place to safeguard your privacy.</p>

                    <p class="editable">Please read this Privacy Policy carefully before using our service.</p>

                    <p class="editable">By submitting your information to us you confirm that you’ve read our policy and accept the terms detailed below.</p>

                    <!--Sub heading and content-->
                    <h3 class="editable">your information</h3>

                    <p class="editable">We work with Safe Hands, the UK's most recognised and affordable pre-paid funeral plan providers to provide you with personally tailored funeral plan. To do this we may share your information with carefully selected third parties. This is solely to obtain an accurate quote. By providing this information you’re providing explicit consent for us to share your information in this way.</p>

                    <p class="editable">We’ll never share your information with third parties outside our trusted network without your consent. Where data is provided to our partners, they may also act as data controllers. They’ll determine the way data is processed, and for what reasons. If you’d like more information about how any of our partners process data, please read the privacy policy for the relevant partner. This will be available on their website.</p>
                    <!--/Sub heading and content-->

                    <!--Sub heading and content-->
                    <h3 class="editable">How we use your information</h3>

                    <p class="editable">To generate your free, no-obligation funeral plan quote, we need to collect some information from you. This could be through our online form or when you speak to a member of our team. We’ll only use this information to communicate directly with you and/or to put you in touch with a member of Safe Hands.</p>

                    <p class="editable">By obtaining a quote from us, you give your consent that your information is processed by us and our third party provider for the purposes stated in this privacy policy.</p>

                    <p class="editable">The information we hold is reviewed periodically so it’s not kept for longer than necessary. We may occasionally contact you directly for feedback and market research purposes. But we’ll never share your information with external marketing companies or any third parties outside firms in the trusted network without your consent.</p>
                    <!--/Sub heading and content-->

                    <!--Sub heading and content-->
                    <h3 class="editable">Security</h3>

                    <p class="editable">We take the security of your information extremely seriously. In order to prevent unauthorised access or disclosure, we have in place a number of physical, electronic and managerial procedures. This safeguards the information we collect. Our servers are securely located and only accessible to authorised personnel. We block unauthorised traffic using firewalls. And we limit sharing of your information to our network of trusted annuity specialists.</p>
                    <!--/Sub heading and content-->

                    <!--Sub heading and content-->
                    <h3 class="editable">Third party providers and data privacy</h3>

                    <p class="editable">If you decide to enter into a contract with a third party provider through a channel on our website, the information you’ve provided to us will be held by them for the purposes set out in that provider’s privacy policy. The provider will also hold any further information requested by, and supplied by you to the third party provider. You’re strongly advised to read your chosen provider’s privacy policy. Ensure you’re satisfied by the purposes the provider will use your personal information before entering into any contract.</p>

                    <p class="editable">If third parties process your personal information on our behalf, we’ll ensure they have the necessary high standards of security in place. Your data will be kept secure and only used in accordance with this Privacy Policy.</p>

                    <p class="editable">Funeral Plan Options takes no responsibility for the uses to which a provider puts your personal information once you’ve entered into a contract with that provider.</p>
                    <!--/Sub heading and content-->

                    <!--Sub heading and content-->
                    <h3 class="editable">Communication</h3>

                    <p class="editable">To ensure you’re kept up to date with news and opportunities Funeral Plan Options and our sister sites may contact you by email, mail and other means of communication. We’ll provide you with additional info on your requested service or product.</p>

                    <p class="editable">We may also provide you with information, research, offers and promotions of other investments, products and services. If you don’t want to receive this information, write us to let us know at the following address: Lead Technologies, Pool Business Park, Pool Road, PoolinWharfedale, LS21 1FD.</p>
                    <!--/Sub heading and content-->

                    <!--Sub heading and content-->
                    <h3 class="editable">Cookie Policy</h3>

                    <p class="editable">A cookie is a small file that’s placed on your computer’s hard drive. If you agree to our cookie policy, we can use this file to monitor how our website is used. This is to improve our online services. Cookies don’t give us any access to your computer. We’ll only hold any information about you that you choose to share with us. By using our website you indicate that you agree to our cookie policy.</p>

                    <p class="editable">You can choose to accept or decline cookies. Most web browsers automatically accept cookies. You can usually modify your browser setting to decline cookies if you prefer. This could prevent you from taking full advantage of the website.</p>
                    <!--/Sub heading and content-->
                </div>
                <!--Pop up content-->
            </div>
   <!--//Pop-up-ends-->

        <!--go-to-top-btn--->
        <a href="javascript:" id="return-to-top" class="hidden-lg"><img src="/assets/images/icons/mobile-up-anchor.svg"></a>
        <!--go-to-top-btn-ends-->