.footer {
    padding: 2em 0;
    background: #f3f3f3;
    border-top: 2px solid #485da7;
    text-align: left;
	    
}

.footer-logo img {
    width: 230px;
    height: auto;
    margin-bottom: 1em;
	display: inline;
}

.footer-left p {
    color: #555555;
    padding: 0 .8em;
    line-height: 1.6;
    font-family: 'proxima_nova_regular';
    margin-bottom: 0;
    font-size: .85em;
}

.footer-middle {
    p {
        color: #555555;
        padding: 0 .8em;
        line-height: 1.6;
        font-family: 'proxima_nova_regular';
        margin-bottom: 0;
        font-size: .85em;
    }
    a {
        font-family: 'proxima_nova_bold';
        color: #475ca6;
        text-decoration: none;
    }
}

.footer-right {
    p {
        color: #555555;
        padding: 0 .8em;
        font-size: .85em;
        line-height: 1.6;
        font-family: 'proxima_nova_regular';
        margin-bottom: 0;
    }
    img {
        width: 10px;
        display: inline;
        margin-right: .5em;
    }
    a {
        font-family: 'proxima_nova_bold';
        color: #475ca6;
        text-decoration: none;
    }
}
