.enquiry-form {
  text-align: left;
  background: #fff;
  padding: .5em 1em 0 1em;
  -webkit-box-shadow:  5px 0px 4px rgba(4, 4, 4, 0.47);;
  -moz-box-shadow:  5px 0px 4px rgba(4, 4, 4, 0.47);;
  box-shadow:  5px 0px 4px rgba(4, 4, 4, 0.47);;
  font-size: 1.1em;

  legend {
    border: none;
    font-size: 1.200em;
    color: #555555;

  }
  label {
    text-align: left;
    font-family: "plume",serif;
    font-style: normal;
    font-weight: 700;
    color: #485da7;

  }
  input[type="text"] {
    border-color: #6d6e71 !important;
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    box-shadow: none;
  }
}
[type="email"], [type="tel"], select {
  border-color: #6d6e71 !important;
  border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  box-shadow: none;
}
.enquiry-form {
  button {
    background: #f5bd48;
    color: #485da7;
    font-size: 1.200em;
    font-family: "plume",serif;
    font-style: normal;
    font-weight: 700;
    margin-top: .5em;
    width: 100%;
    border-radius: .2em;
    -webkit-border-radius: .2em;
    -moz-border-radius: .2em;
    -webkit-box-shadow: 3px 2px 0px 0px rgba(109, 110, 113, 1);
    -moz-box-shadow: 3px 2px 0px 0px rgba(109, 110, 113, 1);
    box-shadow: 3px 2px 0px 0px rgba(109, 110, 113, 1);
    &:hover {
      color: #485da7;   
      background-color:#eea203;

    }
  }
  select {
    margin-top: 0;
    background: url(../images/icons/icon-chevron-down.svg) no-repeat 98% 15px;
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance: none;
    font-size: 0.875em;
  }
  input[type="text"] {
    color: #6d6e71;
    font-size: 0.875em;
    text-transform: capitalize;
    font-family: "proxima-nova",sans-serif;
    font-style: normal;
    font-weight: 400;
  }
}

[type="email"], [type="tel"], select::placeholder {
  color: #6d6e71;
  font-size: 1em;
  text-transform: capitalize;
  font-family: "proxima-nova",sans-serif;
  font-style: normal;
  font-weight: 400;
}
.enquiry-form input[type="text"], [type="email"], [type="tel"], select::-webkit-input-placeholder, .enquiry-form input[type="text"], [type="email"], [type="tel"], select::-moz-placeholder, .enquiry-form input[type="text"], [type="email"], [type="tel"], select::-ms-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #6d6e71;
  font-size: 1em;
  text-transform: capitalize;
  font-family: "proxima-nova",sans-serif;
  font-style: normal;
  font-weight: 400;
}
.enquiry-form select {
  color: #6d6e71 !important;
  font-family: "proxima-nova",sans-serif;
  font-style: normal;
  height:39.97px; 
  font-weight: 400;
}
.privacy-info {
  p {
    margin: 0;
    margin-top: 1em;
    font-size: .8em !important;
    text-align: center;
    color: #6d6e71;
    font-family: "proxima-nova",sans-serif;
    font-style: normal;
    font-weight: 400;
  }
  img {
    display: inline;
    width: 10px;
  }
  a{
    border-bottom:1px solid #6d6e71; 
    margin-bottom:.25em; 
    text-decoration:none;
    color:#6d6e71; 
  }
}
.enquiry-form fieldset {
  margin: 0;
  width: 100%;
  padding-bottom: 1em;
}


