/*----------------------------------------------
---------media-screen--min-width-1380px-----------
-----------------------------------------------*/

@media screen and (min-width:1380px) {
    
    .hero-intro {
    margin-top:230px;
    
}
}

.white{
	background:#fff;
}
.less-padding{
	 padding-right:0px !important;
  padding-left: 0px !important;
}
.pm-no-padding{
	 padding:0px !important;
  
}
.pure-menu-heading img {
    width: 230px;
    height: auto;
}
.pm-navigation {
    padding: 1em 0;
}
.border-yellow{
    border-bottom:2px solid #f5bd48;  
}
.pm-contact-no {
    float: right;
}
.contact-info-text {
    color: #475ca6;
}
.contact-no-uk {
    color: #f5bd48;
    font-size: 1.6em;
}
.schedule-dls {
    font-size: .9em;
    text-align: right;
    color: #475ca6;
}
.call-now {
    display: none;
}




/*----------------------------------------------
---------media-screen--max-width-1201px-----------
-----------------------------------------------*/
@media screen and (max-width: $break-large) {
    .call-now {
        float: right;
        margin-top: .5em;
        display: block;
        img {
            display: inline;
            width: .8em;
            margin-right: .2em;
        }
        a {
            border-bottom: 2px solid #f5be4a;
            padding-bottom: .3em;
        }
    }

    .pm-contact-no {
        display: none;
    }

    .text-wrapper {
        margin-left: 1em !important;
    }

    .hero-intro {
        padding: 0 !important;
    }
}