.hero-section {
  height: auto;
/*  background: url(../images/hero-bg-img.jpg);*/
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.hero-intro {
  margin-top: 97px;
  text-align: center;
  float: left;
  padding: 0 2.063em;
  h1 {
    color: #485da7;
    font-family: "plume",serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2.750em;
    margin: 0.2em 0;
  }
  p {
    color: #555555;
    font-size: 1.300em;
    font-family: "proxima-nova",sans-serif;
    font-style: normal;
    font-weight: 500;

  }
}
.text-wrapper {
  img {
    display: inline;
    width: 52px;
    float: left;
  }
  font-size: 1.500em;
  color: #fff;
  position: absolute;
  bottom: 0.625em;
  margin-left: 92px;
  p {
    margin-bottom: 0;
    margin-top: 30px;
    float: left;

    span {
      vertical-align: -webkit-baseline-middle;
      margin-left: .5em;
      font-family: "plume",serif;
      font-style: normal;
      font-weight: 700;
    }
  }
}