html, body {
    height: 100%;
    font-family: "plume",serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.03em !important;
}

.pure-g {
    letter-spacing: 0 !important;
    font-family: "plume",serif;
    font-style: normal;
    font-weight: 700;
}
