.o-message {
    padding:0.7619px;
    text-align: left;
    margin:0;
}
.o-message--alert {
    font-weight: bold;
    color: #da233b;
    font-family: "plume",serif;
    font-style: normal;
    font-weight: 700;
    font-size: 7.5px;
    font-size: 0.75rem;
}

