.pm-li-styles {
    > li > a {
        padding: .5em !important;
        color: #555555;
        border-bottom: 1px solid #555555;
    }
    margin-left: 3.5%;
    text-transform: capitalize;
    li {
        margin-right: 1em;
        .pure-menu-link {
            &:hover, &:focus {
                background: none;
            }
        }
    }
    .pure-menu-item {
        vertical-align: bottom !important;
    }
}

.active a {
    color: #000 !important;
    border-bottom: 1px solid #000 !important;
}

.pure-menu-heading img {
    width: 230px;
    height: auto;
}

.pm-navigation {
    padding: 1em 0;
}

.pm-contact-no {
    float: right;
}

.contact-info-text {
    color: #475ca6;
}

.contact-no-uk {
    color: #f5bd48;
    font-size: 1.6em;
}

.schedule-dls {
    font-size: .9em;
    text-align: right;
    color: #475ca6;
}

