.pm-li-styles {
    > li > a {
        padding: .5em !important;
        color: #555555;
        border-bottom: 1px solid #555555;
    }
    margin-left: 3.5%;
    text-transform: capitalize;
    li {
        margin-right: 1em;
        .pure-menu-link {
            &:hover, &:focus {
                background: none;
            }
        }
    }
    .pure-menu-item {
        vertical-align: bottom !important;
    }
}

.active a {
    color: #000 !important;
    border-bottom: 1px solid #000 !important;
}