
// Breakpoints
/*$break-medium:991px;
$break-semi-medium:796px;
$break-small:767px;
$break-xs:412px;
$break-large-hero:1300px;
$break-large:1201px;
$break-x-large:1367px;*/
$xsm: 350px;
$sm: 570px;
$md: 767px;
$lg: 1024px;
$xlg: 1200px;
$xxlg: 1300px;
$max: 1400px;
// Colors
