---
layout: default
---
{% include base.html %}

<!-- Hero with form -->
<div class="hero-section">
    <section id="qoute" class="pure-g">
        <!---hero-content-section-->
        <div class="pure-g-container" id="quote">
            <div class="hero-intro pure-u-md-1 pure-u-lg-12-24">
                <h1 class="editable">Its your funeral!</h1>
                <p class="editable">Pre-plan your funeral the way you want it and protect your family
                    from rising funeral costs. From as little as 55p per day*</p>
            </div>
			 <!---text-with-icons-mob--->
            <div class="pure-u-sm-1 text-wrapper hidden-lg">
                <p><img src="/assets/images/icons/icon-circle-lock.svg" alt="" class="pure-img"><span class="editable">Fix the costs at today's prices</span></p>
                <p><img src="assets/images/icons/icon-circle-heart.svg" alt="" class="pure-img"><span class="editable">Protect your family</span></p>
                <p><img src="assets/images/icons/icon-circle-thumbsup.svg" alt="" class="pure-img"><span class="editable">Guaranteed acceptance</span></p>
            </div>
			   <!---enquiry-form--->
			  <div class="pure-u-1">
			   <div class="form-bg"></div>
                {% include {{ page.form | prepend:'forms/' | append:'.html' }} %}
            
           <!--icon-text--section-right-desktop-->
                <div class="pure-u-8-24 text-wrapper hidden-sm">
                    <p><img src="/assets/images/icons/icon-circle-lock.svg" alt="" class="pure-img"><span>Fix the costs at today's prices</span></p>
                    <p><img src="/assets/images/icons/icon-circle-heart.svg" alt="" class="pure-img"><span>Protect your family</span></p>
                    <p><img src="/assets/images/icons/icon-circle-thumbsup.svg" alt="" class="pure-img"><span>Guaranteed acceptance</span></p>
                </div>
          </div> 
		  </div>
		  </section>
		  </div><!---hero-section-ends-->
		  <!---as.partners section-->
<div class="pure-g">
    <div class="pure-g-container">
        <div class="pure-u-1 partenrs-listing">
            <h3>In association with:</h3>
            <img src="assets/images/logos.png" class="pure-img" alt="">
        </div>
        <!--testimonial-->
        <div class="pure-u-1">
            <div class="pure-u-3-24 left-spacing"></div>
            <div class="pure-u-lg-18-24 pure-u-md-18-24 pure-u-sm-1 testimonial">
                <div class="pure-u-lg-4-24 pure-u-md-4-24 pure-u-sm-1">
                    <!---testimonial-img-desktop--->
                    <div class="testimonial-img hidden-sm">
                        <img src="assets/images/dr.hilary.png" class="pure-img" alt="">
                        <span class="editable"> Dr.Hilary John</span>
                        <span class="hidden-lg editable"> Safehands Ambassador</span>
                    </div> <!---testimonial-img-desktop-ends-->
                    <div class="arrow-left hidden-sm">   <img src="assets/images/icons/arrow-left.svg" class="pure-img" alt=""></div>

                </div>
                <!---testimonial-content-->
                <div class="pure-u-lg-16-24 pure-u-md-16-24 testimonial-content">
                    <div class="arrow-right hidden-sm">   <img src="assets/images/icons/arrow-right.svg" class="pure-img" alt=""> </div>
                    <p class="editable">
                        "As a practising GP of 40 years I have had a lot of experience working with families struggling to cope with the loss of a loved one. When arranging a funeral, relatives can be understandably vulnerable.</p>
                    <p class="editable">
                        One great way of ensuring that your funeral costs are covered, is to buy a pre-paid funeral plan. The National Federation of Funeral Directors endorses Safe Hands - one of the UK's most recognised and affordable funeral plan providers."
                    </p>
                </div>
                <!---testimonial-img-mobile--->
                <div class="testimonial-img hidden-lg">
                    <img src="assets/images/dr.hilary.png" class="pure-img" alt="">
                    <span class="fc-span editable" > Dr.Hilary John</span>
                    <span class="hidden-lg sc-span editable"> Safehands Ambassador</span>
                </div> <!---testimonial-img-mobile-ends-->
            </div> 
            <div class="pure-u-3-24 right-spacing"></div>
        </div>
    </div>
</div>
<!---plan-details--->
<section class="pure-g plan-desc section" id="facts" >
    <div class="pure-g-container">
        <div class="pure-u-3-24 hidden-sm left-spacing"></div>
        <div class="pure-u-lg-18-24 pure-u-md-1 pure-u-sm-1 ">
            <h2 class="editable">What is a funeral plan?</h2>
            <div class="pure-u-md-12-24 pure-u-sm-1 plan-content">
                <!--plan-img-desktop-->
                <div class="pure-u-sm-1 plan-img hidden-lg">
                    <img src="assets/images/funeral_plans.jpg" class="pure-img" alt="">
                </div> <!--plan-img-desktop-ends-->
                <p class="editable">
                    A pre-paid funeral plan allows you to take all of the worry - both emotional and financial - away from your loved ones during a very daunting and stressful time.
                </p>
                <p class="editable">
                    You get to plan all of your preferred funeral arrangements in advance, and then pay for your personal plan at today's prices, avoiding rapidly
                    rising funeral costs.   
                </p>
            </div>
            <!--plan-img-mobile--->
            <div class="pure-u-10-24  plan-img hidden-sm">
                <img src="assets/images/funeral_plans.jpg" class="pure-img" alt="">
            </div><!--plan-img-mobile-ends-->
        </div>
        <div class="pure-u-3-24 hidden-sm"></div>
    </div>
</section>
<!---plan-statistics--->
<section class="pure-g plan-statistics" id="benefits">
    <div class="pure-g-container">
        <div class="pure-u-3-24 left-spacing"></div>
        <div class="pure-u-lg-18-24 pure-u-md-1 pure-u-sm-1">
            <h2 class="editable">When should you get a funeral plan?</h2>
            <div class="pure-u-lg-10-24 pure-u-md-10-24 statistics-graph pure-u-sm-1">
                <img src="assets/images/icons/graph-sunlife.svg" class="pure-img" alt="">

            </div>
            <div class="pure-u-lg-12-24 pure-u-md-12-24 statistics-content pure-u-sm-1">
                <p class="editable">
                    Since 1997, the average cost of a funeral has risen by over 225% &dagger;, from &pound;1230 to &pound;4000. That's considerably more than the rate of inflation and there is no reason to suppose that this trend will change.
                </p>
                <p class="editable">
                    A pre-paid funeral plan freezes the cost of your funeral at today's prices.   
                </p>
                <p class="editable">
                    With conservative estimates suggesting that average costs could rise to &pound;8000 by 2024, there has never been a better time than now to get a funeral plan.  
                </p>
                <p class="editable">
                    &dagger;Sun Life Cost of Dying Report 2013
                </p>

            </div>
        </div>
        <div class="pure-u-3-24 right-spacing"></div>
    </div>
</section>
<!---our-services--->
<section class="pure-g services" id="service">
    <div class="pure-g-container">
        <h2 class="editable">Our Service</h2>
        <div class="pure-g include-pad">
            <div class="pure-u-lg-1-3 pure-u-md-1-3 pure-u-sm-1 services-thumb">

                <img src="assets/images/icons/icon-circle-form.svg" class="pure-img" alt="">
                <h3 class="editable">Tell us a bit about yourself</h3>
                <p class="editable">First of all, we'll take some very basic information from you.</p>
            </div>
            <div class="pure-u-lg-1-3 pure-u-sm-1 pure-u-md-1-3 services-thumb">


                <img src="assets/images/icons/icon-circle-pound.svg" class="pure-img" alt="">
                <h3 class="editable"> Get a quote</h3>
                <p class="editable">Using the information you've given us, we'll provide you with a quote.</p>
            </div>
            <div class="pure-u-lg-1-3 pure-u-sm-1 pure-u-md-1-3 services-thumb">

                <img src="assets/images/icons/icon-circle-talk.svg" class="pure-img" alt="">
                <h3 class="editable"> Talk to a funeral planner</h3>
                <p class="editable">We'll contact you to help you choose the perfect plan for you.</p>
            </div>
        </div>
        <span class="editable">&dagger;Sun Life Cost of Dying Report 2013</span>
    </div>
</section>
        